body {
    margin: 0; box-sizing: border-box; padding: 0; font-family: 'Josefin Sans', sans-serif;
}

#hero{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
}

.texto{
    font-weight: bolder;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-shadow: 1px 2px 2px white;
    text-align: center;
    color: green;
    font-size: 2.5em;
    width: 100%;
}

@media (max-width: 700px){
    .texto {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.shoes{
    display: grid;
    place-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 10px;
    height: 600px;
    width: 700px;
}

.shoes p{
    font-weight: bolder;
    color: green;
    font-size: 3em;
}

img{
    position:relative;
    right: 40px;
    bottom: 80px;
    animation: dunkRotate 2s ease-in-out infinite alternate;
    width: 500px;
    height: 350px;
}

@keyframes dunkRotate{
    from{
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(-40deg);
    }
}

.painel{
    animation: borderAlter 10s ease-in-out alternate infinite;
    border-radius: 5px 5px 5px 5px;
    border: 4px outset greenyellow;
    text-align: center;
    margin-top: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 500px;
    height: 500px;
    background-color: rgba(105, 161, 107, 1);
}

@keyframes borderAlter{
    from{
        border-top: 4px outset green;
        border-right: 4px outset green;
    }
    to{
        border-bottom:  4px outset green;
        border-left:  4px outset green
    }
}

.painel p{
    font-weight: bolder;
    position: relative;
    top: 150px;
    color: white;
    font-size: 2em;
}

#btn {
    border: 1px solid white;
    position: relative;
    top: 150px;
    height: 50px;
    width: 90px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
}

#btn .mod{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
}